#wrap
  .container
    .page-header
      = haml :menu
      %h1 Fer Perales
    .span8.offset2
      %h2{:align => "center"} About me
      .row
        .span4
          %img{:alt => "8 bits me", :src => "images/yo.png"}
        .span4
          %script{:src => "//about.me/embed/ferperales?image=0&name=0&apps=0&style=site"}    
  #push

= haml :footer
%script{:src => "javascript/jquery-1.9.1.min.js"}
%script{:src => "javascript/bootstrap.min.js"}
%script{:src => "javascript/select_menu.js"}