.row.pull-right
  %ul.nav.nav-pills
    %li#index
      %a{:href => "index"} Home
    %li#resume
      %a{:href => "resume"} Résumé
    %li#portfolio
      %a{:href => "portfolio"} Portfolio
    %li#presentations
      %a{:href => "presentations"} Presentations
    %li#contact
      %a{:href => "contact"} Contact
    %li#blog
      %a{:href => "blog"} Blog