%link{:href => "img/favicon.ico", :rel => "shortcut icon"}/
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "", :name => "description"}/
%meta{:content => "Fer Perales", :name => "author"}/
%meta{:content => "http://ferperales.net", :property => "og:url"}/
%meta{:content => "http://ferperales.net/img/wecode.jpg", :property => "og:image"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "Fer Perales", :property => "og:site_name"}/
%meta{:content => "Fer Perales is a software craftsman apprentice currently working at Crowd Interactive.", :property => "og:description"}/