#wrap
  .container
    .page-header
      = haml :menu
      %h1 Not found
    .span4.offset4
      .row
        %img{align: "center", :alt => "Page not found", :src => "images/not_found.png"}      
  #push

= haml :footer
/ %script{:src => "javascript/jquery-1.9.1.min.js"}
/ %script{:src => "javascript/bootstrap.min.js"}
