#wrap
  .container
    .page-header
      = haml :menu
      %h1 Presentations
    .row
      .span8.offset2
        %h2{:align => 'center'} Talks, workshops and more
        .row
          .span8
            %p I love giving talks about programming, startups, professional carreer and technology in general and I feel comfortable speaking in either Spanish or English
            %p I have also given workshops about mobile development, ruby, ruby on rails and javascript. Those workshops lasted an average of three hours and I always try to make them as engaging as possible.
            %p
              You can take a look at my
              %a{:href => "https://speakerdeck.com/ferperales"} SpeakerDeck
              profile and my
              %a{:href => "http://prezi.com/user/FerPerales/"} Prezi
              profile. I would really appreciate your feedback in case you attended one of my talks by sharing your thoughts on my
              %a{:href => "http://speakerrate.com/ferperales"} SpeakerRate
              profile.
            %p
              I'm always willing to give talks and workshops at no cost and, if you consired that I can give a talk that would be useful for you or your organization, get in touch with
              %a{:href => "contact"} me
            %div
              %h5.centered-text Latest talk
              %p
                I presented a talk called 'Terminé la universidad: ¿ahora qué hago?' (I finished university school: now what I do?) at
                %a{:href => "hpp://divecfest.cucei.udg.mx"} DivecFest
                2013 in May 14th. In this talk, I expose the opportunities that a just graduated IT student have to start a sucessful professional carrer: what kind of jobs can their get as well as the advantages and disadvantages of those options and some tips and advise to help them get their dream job
              %p The talk was given in Spanish and the slides used are showed below
              .row
              .span4.offset2
                %script.speakerdeck-embed{:async => "", "data-id" => "a93b60209e7501301b2f469a61e096c5", "data-ratio" => "1.33507170795306", :src => "//speakerdeck.com/assets/embed.js"}
  #push
=haml :footer
%script{:src => "javascript/jquery-1.9.1.min.js"}
%script{:src => "javascript/bootstrap.min.js"}
%script{:src => "javascript/select_menu.js"}
%script{:src => "javascript/counter.js"}